.music-player .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    color: white;
  }
  
  .music-player .volume-btn + .volume-slider {
    transition: all 0.3s ease;
  }
  
  .music-player .timeline .base-line {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: white;
  }
  
  .music-player .timeline .current-time-line {
    height: 5px;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .music-player .timeline .max-watched-time-line {
    height: 5px;
    background-color: hotpink;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  
  .music-player .timeline .question-marker {
    position: absolute;
    top: -5px;
    width: 2px;
    height: 15px;
    background-color: white;
    z-index: 2;
  }